<span *ngIf="menuItem.visible && !(menuItem.menuItems && menuItem.menuItems.length >0)">
  <a routerLink="/{{menuItem.link}}" *ngIf="menuItem.link">
    <fa name="{{menuItem.icon}}"></fa>
    {{menuItem.name}}
  </a>
  <span *ngIf="menuItem.action" (click)="menuItem.action()">
    <fa name="{{menuItem.icon}}"></fa>
    {{menuItem.name}}
  </span>
</span>
<span
  mat-button [matMenuTriggerFor]="menu" *ngIf="menuItem.menuItems && menuItem.menuItems.length >0 && menuItem.visible">
  <fa name="{{menuItem.icon}}"></fa>
  {{menuItem.name}}
</span>
<mat-menu #menu="matMenu">
  <span *ngFor="let subMenu of menuItem.menuItems">
    <button mat-menu-item>
      <fa name="check-circle" *ngIf="subMenu.selected" class="selection"></fa>
      <a routerLink="/{{subMenu.link}}" *ngIf="!subMenu.action">
        <fa name="{{subMenu.icon}}"></fa>
        {{subMenu.name}}
      </a>
      <span *ngIf="subMenu.action" (click)="subMenu.action()">
        <fa name="{{subMenu.icon}}"></fa>
        {{subMenu.name}}
      </span>
    </button>
  </span>
</mat-menu>
