<span *ngIf="menuItem.visible && !(menuItem.menuItems && menuItem.menuItems.length >0)"
  ngClass="((menuItem.enabled && menuItem.enabled()) || !menuItem.enabled) : 'menu_item', !((menuItem.enabled && menuItem.enabled()) || !menuItem.enabled) : 'itemDisabled'">
  <span *ngIf="menuItem.enabled && menuItem.enabled()">
    <a routerLink="/{{menuItem.link}}" *ngIf="menuItem.link">
      <fa name="{{menuItem.icon}}"></fa>
      {{menuItem.name}}
    </a>
  </span>
  <span *ngIf="menuItem.enabled && menuItem.enabled()">
    <span *ngIf="menuItem.action" (click)="menuItem.action()">
      <a href="#">
        <fa name="{{menuItem.icon}}"></fa>
        {{menuItem.name}}
      </a>
    </span>

  </span>
  <span *ngIf="menuItem.enabled && !menuItem.enabled()" class="itemDisabled">
    <fa name="{{menuItem.icon}}"></fa>
    {{menuItem.name}}
  </span>
</span>
