.card {
  -webkit-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.44);
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.44);
}

.table_row {
  border-bottom: 1px solid #dbdbdb;
  height: 40px;
}

.header {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #dbdbdb;
  color: #a89da4;
  height: 40px;
}

.userListHeader {
  display: grid;
  grid-template-columns: 300px 50px 50px 250px auto;
  grid-template-rows: 24px auto;
  align-self: center;
  padding: 4px;
}

.headerItem {
  margin: 4px;
}

.userList {
  font-size: 0.8em;
  display: grid;
  background-color: white;
  grid-template-columns: 300px 50px 50px 250px auto;
  grid-template-rows: 18px;
  align-self: center;
  padding: 4px;
  transition: background-color 0.25s linear;
}

.userList:hover {
  background-color: lightgray;
}

.hover {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.unHover {
  cursor: default;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.even {
  background-color: white;
  /*border-bottom: 1px solid lightblue;*/
}

.odd {
  /*border-bottom: 1px solid lightblue;*/
  background-color: #fafafa;
}

.outerElement {
  /*border-right: 1px aliceblue dashed;*/
  border: 1px aliceblue dashed;
  width: 20px;
  height: 100%;
  /*background-color: cyan;*/
}

.entry {
  display: grid;
  grid-template-columns: auto 24px auto;
  align-self: start;
  justify-self: start;
  text-align: left;
}

.entry_indention {
  align-self: start;
  justify-self: start;
  text-align: left;
}

.entry_icon {
  align-self: start;
  justify-self: start;
  text-align: left;
}

.entry_name {
  align-self: start;
  justify-self: start;
  text-align: left;
}
