<div class="card">
  <div class="header userListHeader">
    <div class="headerItem name">Name</div>
    <div class="headerItem flags">Flags</div>
    <div class="headerItem cardinality">Card</div>
    <div class="headerItem type">Type</div>
    <div *ngIf="descriptionVisible" class="headerItem description">Description</div>
  </div>

  <div *ngFor="let entry of (structureDefinition$|async)?.resource?.snapshot?.element">
    <div
      *ngIf="!(entry.max === '0' && hideUnused) && !(isReadOnly(entry.constraint) && hideReadonly) &&
        entry.sliceName !== structure && (entry.sliceName || entry.label || entry.path) && !entry.base">
      <app-structure-definition-element [entry]="entry"></app-structure-definition-element>
    </div>
  </div>
</div>
