<div class="container">
  <!--<div>Select resource</div>-->
  <div class="resourceSelection">
    <mat-select [(ngModel)]="selectedResource" (selectionChange)="fireResourceChanged()" placeholder="Select Resource">
      <mat-option *ngFor="let opt of resourceTypes" value="{{opt.name}}">{{opt.label}}</mat-option>
    </mat-select>
  </div>
  <div class="checkbox">
    <mat-checkbox [(ngModel)]="hideUnused" (change)="fireHideUnusedChanged()">Hide Unused</mat-checkbox>
  </div>
  <div class="checkbox">
    <mat-checkbox type="checkbox" [(ngModel)]="hideReadonly" (change)="fireReadOnlyChanged()">Hide Readonly
    </mat-checkbox>
  </div>
</div>
