<div class="container">
  <div class="resourceSelection">
    <select [(ngModel)]="selectedResource" (change)="fireResourceChanged()" placeholder="Select Resource">
      <option *ngFor="let opt of resourceTypes; trackBy resourceTypeTracker" value="{{opt.name}}">{{opt.label}}</option>
    </select>
  </div>
  <div class="checkbox">
    <mat-checkbox [(ngModel)]="hideUnused" (change)="fireHideUnusedChanged()">Hide Unused</mat-checkbox>
  </div>
  <div class="checkbox">
    <mat-checkbox type="checkbox" [(ngModel)]="hideReadonly" (change)="fireReadOnlyChanged()">Hide Readonly
    </mat-checkbox>
  </div>
</div>
