<div class="card">
  <div class="card-header">{{backboneElement.name}} (DomainResource)</div>
  <div class="card-content">
    <div *ngFor="let item of backboneElement.items;">
      <div class="lineItem" *ngIf="!(item.max === '0' && hideUnused) && item.type !== 'BackboneElement'">
        <span class="name">{{item.name}}</span>
        <span class="seperator">:</span>
        <span class="type">{{item.type}}</span>
        <span class="cardinality">[{{item.min}}..{{item.max}}]</span>
        <span *ngIf="item.type === 'code'" class="typeName">{{item.type}}</span>
        <span *ngIf="item.type === 'Reference'" class="reference" (click)="selectResource(stripUrl(item.profile))">{{stripUrl(item.profile)}}</span>
      </div>
    </div>
  </div>
</div>
