.card {
  width: 350px;
  border-radius: 2px;
  margin: 8px;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  background: white;
  transition: all 0.15s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}

.card-header {
  text-align: center;
  background-color: lightblue;
  margin-bottom: 4px;
}

.card-content {
  padding: 0 4px 4px 4px;
}

.lineItem {
  /*display: grid;*/
  /*grid-template-columns: auto 8px auto auto auto;*/
  /*justify-self: stretch;*/
  /*grid-gap: 0px;*/
  font-size: 0.7em;
}

.lineItem:hover {
  background-color: lightblue;
}

.name {
margin-right: 4px;
}

.seperator {
  margin-right: 4px;
}

.type {
  margin-right: 4px;
}

.cardinality {
  margin-right: 4px;
}

.typeName {

}

.reference {
}
.diagrams {
  display: grid;
  grid-template-columns: 400px auto;
}
