<div class="card">
  <div class="card-header">{{backboneElement.name}} (DomainResource)</div>
  <div class="card-content">
    <div *ngFor="let item of backboneElement.items;">
      <div class="lineItem" *ngIf="!(item.max === '0' && hideUnused) && item.type !== 'BackboneElement'">
        <div>{{item.name}}</div>
        <div>:</div>
        <div>{{item.type}}</div>
        <div>[{{item.min}}..{{item.max}}]</div>
        <div *ngIf="item.type === 'code'">{{item.type}}</div>
        <div *ngIf="item.type === 'Reference'">{{stripUrl(item.profile)}}</div>
      </div>
    </div>
  </div>
</div>
