.label {
  font-weight: bold;
}

.name {
  display: inline-block;
}

.name .label {
  float: left;
  margin-right: 8px;
}

.name .input {
  float: right;
}

.cardinality {
  border: 1px solid lightgray;
  margin-bottom: 8px;
}

.cardinality .input {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
}

.cardinality .label {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
}

.header {
  grid-area: header;
}

.type {
  display: inline-block;
}

.type .label {
  float: left;
  margin-bottom: 4px;
  margin-top: 4px;
  margin-left: 4px;
}

.type .input {
  float: right;
  margin-bottom: 4px;
  margin-top: 4px;
  margin-left: 4px;
}

.description {
  display: block;
  border: 1px solid lightgray;
  margin-bottom: 8px;
}

.description .label {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
}

.description .input {
  width: 97%;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
}

.description .input textarea {
  width: 100%
}

.typereference {
  border: 1px solid lightgray;
  margin-bottom: 8px;
}



