<div innerHTML="{{structure?.description}}"></div>
<div *ngIf="implementationDetails && implementationDetails !== ''" (click)="toggleImplementationDetails()"
     class="expander">

  <span>
    <button>
       Show implementation details
      <div>
        <fa name="chevron-down" *ngIf="!showImplementationDetails"></fa>
        <fa name="chevron-up" *ngIf="showImplementationDetails"></fa>
      </div>

    </button>
  </span>
</div>
<div [innerHTML]="implementationDetails" *ngIf="showImplementationDetails" [@slideIn]></div>
