<mat-toolbar class="menuContainer">
  <div class="leftMenuItems">
    <div class="menu_item">
      <fa name="home" class="menuIcon"></fa>
      HOME
      <div class="selection_indicator"></div>
    </div>
    <div class="menu_item">
      <fa name="address-card" class="menuIcon"></fa>
      STRUCTURE
    </div>
    <div class="menu_item">
      <fa name="book" class="menuIcon"></fa>
      CAPABILITY
    </div>
  </div>
  <div class="spacer"></div>
  <div class="rightMenuItems">
    <div class="menu_item">
      <fa name="sign-in" class="menuIcon"></fa>
      LOGIN
    </div>
  </div>
</mat-toolbar>
