<mat-toolbar class="menuContainer">
  <span class="leftMenuItems">
    <span *ngFor="let item of menuItems">
      <span *ngIf="item.position === 'left'">
        <app-menu-item [menuItem]="item"></app-menu-item>
      </span>
    </span>
  </span>
  <span class="spacer"></span>
  <span class="rightMenuItems">
    <span *ngFor="let item of menuItems">
      <span *ngIf="item.position === 'right'">
        <app-menu-item [menuItem]="item"></app-menu-item>
      </span>
    </span>
  </span>
</mat-toolbar>
