<mat-toolbar class="menuContainer">
  <div class="leftMenuItems">
    <!--<div class="innerContainer">-->
      <div *ngFor="let item of menuItems" class="menuItemContainer">
        <app-menu-item [menuItem]="item" *ngIf="item.position === 'left'"></app-menu-item>
      </div>
    <!--</div>-->
  </div>
  <span class="spacer"></span>
  <span class="rightMenuItems">
    <div>
      <div *ngFor="let item of menuItems">
        <app-menu-item [menuItem]="item"  *ngIf="item.position === 'right'"></app-menu-item>
      </div>
    </div>
  </span>
</mat-toolbar>
