.container {
  /*display: grid;*/
  /*grid-template-columns: 80% 20%;*/
  margin-bottom: 8px;
}

.menuContainer {
  margin: 0 auto;
  width: 80%;
  background-color: #204e5f;

  /*margin-bottom: 8px;*/
}

.menuItemContainer {
  margin: auto 8px;
}

.menu {
  width: 100%;
  padding-left: 50px;
}

.spacer {
  flex: 1 1 auto;
}

.innerContainer {
  /*margin: auto 0;*/
}

.leftMenuItems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  padding-left: 50px;
}

.rightMenuItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-right: 50px;
}
