a {
  text-decoration: none;
  color: white;
  /*font-size: 0.8em;*/
}

/*button {*/
/*text-decoration: none;*/
/*color: white;*/
/*}*/

.menuContainer {
  margin: 0 auto;
  width: 80%;
  background-color: #204e5f;
}

.spacer {
  flex: 1 1 auto;
}

.leftMenuItems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  padding-left: 50px;
}

.rightMenuItems {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  padding-right: 50px;
}

.selection {
  margin-right: 8px;
}

.button_menu_item:hover {
  cursor: pointer;
}

.menu_item {
  height: 100%;
  font-size: 0.8em;
  color: white;
  padding-top: 16px;
  padding-right: 16px;
}

.menu_item_container {
  height: 63%;
  margin: 0 auto;
}

.menu_item_disabled_container {
  color: grey;
  height: 63%;
  margin: 0 auto;
}
.selection_indicator {
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  left: 0;
  height: 8px;
  background-color: #d66b1a;
}
