.container {
  /*display: grid;*/
  /*grid-template-columns: 80% 20%;*/
  margin-bottom: 8px;
}

.menuContainer {
  height: 36px;
  margin-bottom: 8px;
}

.menu {
  border: 1px solid lightgray;
  background-color: white;
  border-bottom: 1px solid #9c9c9c;
}


.context {
  align-self: end;
  justify-self: right;
}

a {
  text-decoration: none;
  color: #105581;
}

a:hover {
  color: #333333;
  text-decoration: underline;
}
.spacer{
  flex: 1 1 auto;

}
