:host {
  background-color: #5a976a;
}

.main {
  height: 100%
}
.dark {
  background-color: var(--background-color-theme-dark);
  color: var(--color-theme-dark);
}

.light {
  background-color: var(--background-color-theme-light);
  color: var(--color-theme-light);
}
.mainContainer {
  margin-top: 8px;
  width: 70%;
  transform: translateX(20%);
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}

/*@media screen and (max-width: 1024px) {*/
/*.mainContainer {*/
/*margin-left: 8px;*/
/*margin-right: 8px;*/
/*margin-top: 8px;*/
/*width: 90%;*/
/*transform: translateX(0);*/
/*}*/
/*}*/

@media screen and (max-width: 1224px) {
  .mainContainer {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    width: 100%;
    transform: translateX(0);
  }
}

@media screen and (max-width: 960px) {
  .mainContainer {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    width: 100%;
    transform: translateX(0);
  }
}
