<app-resource-selector (resourceSelected)="selectResource($event)" (hideReadOnlyChanged)="updateReadOnly($event)" (hideUnusedChanged)="updateUnused($event)"></app-resource-selector>
<div class="resourceInformation">
<!-- todo -->
</div>
<div class="container">
  <app-structure-diagram [resource]="selectedResource" [hideUnused]="hideUnused" [hideReadonly]="hideReadonly" (resourceSelected)="selectResource($event)"></app-structure-diagram>
  <app-basic-capability [resource]="selectedResource"></app-basic-capability>
</div>
