<div>
  <div>Select resource</div>
  <div>
    <select [(ngModel)]="selectedResource">
      <option *ngFor="let opt of resourceTypes" value="{{opt.name}}">{{opt.label}}</option>
    </select>
  </div>
  <div><input type="checkbox" [(ngModel)]="hideUnused">Hide Unused</div>
  <div>
    <button (click)="chooseResource()">Show Resource</button>
  </div>
</div>
<div class="container">
  <app-detailed-structure [hideUnused]="hideUnused"></app-detailed-structure>
  <app-basic-capability></app-basic-capability>
</div>
