.container {
  margin: 8px;
  width: 100%;
  text-align: center;
}

.interaction {
  width: 100%;
  display: grid;
  grid-template-columns: 48px 48px 48px 48px 48px 48px;
  line-height: 48px;
  font-size: 2em;
  grid-template-rows: 48px;
  justify-content: center;
  vertical-align: center;
  grid-gap: 4px;
  margin-bottom: 8px;
}

.operations {
  display: grid;
  grid-template-columns: auto;
  text-align: start;
}

.operation {
  margin: 4px;
  font-size: 0.8em;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.operation .description {
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 4px;
}

.keyValue {
  display: grid;
  grid-template-columns: 200px auto;
}

.header {
  font-weight: bold;
  margin-bottom: 8px;
}

.crud_active {
  font-weight: bold;
  color: #5a976a;
}
.crud_inactive {
  font-weight: bold;
  color: #b55c64;
}

.expander {
  text-align: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#adadad+1,ffffff+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, rgba(32, 78, 95, 0.39) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, rgba(32, 78, 95, 0.39) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, rgba(32, 78, 95, 0.39) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#204e5f', GradientType=0); /* IE6-9 */
}

.expander:hover {
  cursor: pointer;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, rgba(32, 78, 95, 0.69) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, rgba(32, 78, 95, 0.69) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, rgba(32, 78, 95, 0.69) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#204e5f', GradientType=0); /* IE6-9 */
}

.parameterDescriptions {
}

.simpleHeader {
  font-weight: bold;
}

.simpleContent {
  margin-left: 16px;
}

.returnValue {
  margin-bottom: 8px;
}

.operationName {
  /*background-color: rgba(32, 77, 92, 0.15);*/
  padding: 8px;
  border-bottom: 1px solid lightgray;
  /*font-weight: bold;*/
  /*color: #2b2b2b;*/
  /*margin: 4px;*/
  /*background-color: #204e5f;*/
  /*color: white;*/
}
