<div class="container">
  <div class="information"></div>
  <div class="interaction">
    <div [ngClass]="{'crud_active': capability.create ,'crud_inactive': !capability.create}">C</div>
    <div [ngClass]="{'crud_active': capability.read ,'crud_inactive': !capability.read}">R</div>
    <div [ngClass]="{'crud_active': capability.update ,'crud_inactive': !capability.update}">U</div>
    <div [ngClass]="{'crud_active': capability.delete ,'crud_inactive': !capability.delete}">D</div>
    <div [ngClass]="{'crud_active': capability.vread ,'crud_inactive': !capability.vread}">V1</div>
    <div [ngClass]="{'crud_active': capability.search_type ,'crud_inactive': !capability.search_type}">S</div>
  </div>
  <div class="operations">
    <div class="header">Operations</div>
    <div *ngIf="!capability?.operations">There are no operations are associated with this resource.</div>
    <div *ngFor="let operation of capability?.operations" class="operation">
      <div class="operationName">{{operation.name}}
        <span *ngIf="operation.inParameters">(</span><span *ngFor="let param of operation.inParameters; index as idx">
          <span>{{param.name}}:{{param.type}}<span *ngIf="idx < operation.inParameters.length-1">, </span></span>
        </span>
        <span *ngIf="operation.parameters">)</span>
      </div>
      <div class="description">{{operation.description}}</div>
      <div class="parameterDescriptions">
        <div (click)="toggleParameter(operation)" class="expander">
          <span *ngIf="!parameterShowing(operation)"><fa name="chevron-down"></fa></span>
          <span *ngIf="parameterShowing(operation)"><fa
            name="chevron-up"></fa></span>
        </div>
        <div *ngIf="parameterShowing(operation)" [@slideIn]>
          <div class="returnValue">
            <div class="simpleHeader">Returns:</div>
            <div class="simpleContent">Bundle<<a
              routerLink="/StructureDefinition/{{resourceName}}">{{resourceName}}</a>>
            </div>
          </div>
          <div class="simpleHeader">Parameters:</div>
          <div *ngFor="let param of operation.parameters">
            <ul *ngIf="param.use == 'in'">
              <li>{{param.name}}: <span innerHTML="{{param.documentation}}"></span><span *ngIf="param.min === 1"> The parameter is mandatory.</span><span
                *ngIf="param.min ===0"> The parameter is optional.</span></li>
            </ul>
          </div>
          <div class="simpleHeader">Example:</div>
          <div class="simpleContent">{{operation.example}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
