.container {
  margin: 8px;
  width: 100%;
  text-align: center;
}

.interaction {
  width: 100%;
  display: grid;
  grid-template-columns: 48px 48px 48px 48px 48px 48px;
  line-height: 48px;
  font-size: 2em;
  grid-template-rows: 48px;
  justify-content: center;
  vertical-align: center;
  grid-gap: 4px;
  margin-bottom: 8px;
}

.operations {
  display: grid;
  grid-template-columns: auto;
  text-align: start;
}

.operation {
  margin: 4px;
  font-size: 0.8em;

}

.operation .description {
  padding-left: 24px;
}

.keyValue {
  display: grid;
  grid-template-columns: 200px auto;
}

.header {
  font-size: 1.1em;
}

.crud_active {
  font-weight: bold;
  color: #5a976a;
}
.crud_inactive {
  font-weight: bold;
  color: #b55c64;
}


