.container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 16px;
}
.card {
  -webkit-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.44);
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.44);
}

.table_row {
  border-bottom: 1px solid #dbdbdb;
}

.header {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #dbdbdb;
  color: #a89da4;
  height: 40px;
}


.userListHeader {
  display: grid;
  grid-template-columns: 300px 50px 50px 250px auto;
  grid-template-rows: 24px auto;
  align-self: center;
  padding: 4px;
}

.userList {
  font-size: 0.8em;
  display: grid;
  background-color: white;
  grid-template-columns: 300px 150px 150px;
  grid-template-rows: 18px;
  align-self: center;
  padding: 4px;
  transition: background-color 0.25s linear;
}
