<div class="container">
  <div>
    <div class="bottomMargin">
      <button (click)="setLayout('table')" mat-icon-button>
        <mat-icon>
          <fa name="list-alt"></fa>
        </mat-icon>
      </button>
      <button (click)="setLayout('grid')" mat-icon-button>
        <mat-icon>
          <fa name="th"></fa>
        </mat-icon>
      </button>
    </div>
    <div class="bottomMargin">
      {{selectedServer}} has {{resourceTypes.length}} resources.
    </div>
    <div [ngClass]="layoutMode">
      <div *ngIf="layoutMode==='table'" class="header userListHeader">
        <div class="headerItem">Name</div>
        <div class="headerItem">Action</div>
      </div>
      <div *ngFor="let resourceType of resourceTypes" [ngClass]="layoutMode_item">
        <div [ngClass]="layoutMode_header">{{resourceType.label}}</div>
        <div *ngIf="layoutMode === 'grid'"><span *ngIf="!resourceType.short">Short description of the element coming soon.</span><span
          *ngIf="resourceType.short">{{resourceType.short}}</span></div>
        <div [ngClass]="layoutMode_actions">
          <span class="actionItem">
          <a (click)="setContext(resourceType.name)" routerLink="/StructureDefinition/{{resourceType.name}}">
            <fa *ngIf="layoutMode === 'grid'" class="linkIcon" name="address-card"></fa>
            <span *ngIf="layoutMode==='table'">StructureDefinition</span>
          </a>
        </span>
          <span class="actionItem">
          <a (click)="setContext(resourceType.name)" routerLink="/CapabilityStatement/{{resourceType.name}}">
            <fa *ngIf="layoutMode === 'grid'" class="linkIcon" name="book"></fa>
            <span *ngIf="layoutMode==='table'">CapabilityStatement</span>
          </a>
        </span>
        </div>
      </div>
    </div>
  </div>
  <div class="serverDescription">
    <div innerHTML="{{serverDescription}}"></div>
  </div>
</div>
