.container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 16px;
}

.card {
  -webkit-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.44);
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.44);
  transition: -webkit-box-shadow 0.15s linear;
  transition: -moz-box-shadow 0.15s linear;
  transition: box-shadow 0.15s linear;
}

.card:hover {
  -webkit-box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.44);
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.44);
}

.grid_item {
  padding: 8px;
}

.table {

}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 12px;
}

.table_row {
  border-bottom: 1px solid #dbdbdb;
  transition: background-color 0.2s linear;
}

.table_row:hover {
  background-color: lightgray;
}

.header {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #dbdbdb;
  color: #a89da4;
  height: 40px;
}

.cardHeader {
  height: 32px;
  text-align: center;
  background-color: #204e5f;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-top: 8px;
  padding-bottom: 0px;
}
.userListHeader {
  display: grid;
  grid-template-columns: 300px 150px 150px;
  grid-template-rows: 24px auto;
  align-self: center;
  padding: 4px;
}

.userList {
  font-size: 0.8em;
  display: grid;
  background-color: white;
  grid-template-columns: 300px 150px 150px;
  grid-template-rows: 18px;
  align-self: center;
  padding: 4px;
  transition: background-color 0.25s linear;
}
