<div class="container">
  <div>
    <div>
      {{selectedServer}} has {{resourceTypes.length}} resources.
    </div>
    <div>
      <button (click)="setLayout('table')">
        <fa name="list-ul"></fa>
      </button>
      <button (click)="setLayout('grid')">
        <fa name="th"></fa>
      </button>
    </div>
    <div [ngClass]="layoutMode">
      <div *ngIf="layoutMode==='table'" class="header userListHeader">
        <div class="headerItem">Name</div>
        <div class="headerItem">Action</div>
        <div class="headerItem">Action</div>
      </div>
      <div *ngFor="let resourceType of resourceTypes" [ngClass]="layoutMode_item">
        <div [ngClass]="layoutMode_header">{{resourceType.label}}</div>
        <div *ngIf="layoutMode === 'grid'">Short description of the element coming soon.</div>
        <div>
          <a routerLink="/StructureDefinition/{{resourceType.name}}">StructureDefinition</a>
        </div>
        <div>
          <a routerLink="/CapabilityStatement/{{resourceType.name}}">CapabilityStatement</a>
        </div>
      </div>
    </div>
  </div>
  <div class="serverDescription">
    <div innerHTML="{{serverDescription}}"></div>
  </div>
</div>
