<app-resource-selector (hideReadOnlyChanged)="updateReadOnly($event)"
                       (hideUnusedChanged)="updateUnused($event)"></app-resource-selector>
<div class="container" *ngIf="selectedResource">
  <div class="descriptionContainer">
    <app-resource-information [resource]="selectedResource"></app-resource-information>
  </div>
  <div class="capabilityContainer">
    <app-resource-diagram></app-resource-diagram>
    <app-basic-capability></app-basic-capability>
  </div>
</div>
<app-no-resource-selected *ngIf="!selectedResource"></app-no-resource-selected>
