.container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 8px;
}

@media screen and (max-width: 1100px) {
  .container {
    display: grid;
    grid-template-columns: auto;
    margin: 8px;
  }
}
